* html #himalayanjava_gallery_section {

	margin-top: -20px;
}

#himalayanjava_gallery_section {
	width: 496px;
	padding: 5px;
	
}



.slimboxContent img {
	border:2px solid #333;
	width:110px;
	height:90px;
	margin-right:17px;
	margin-bottom:17px;
}

.slimboxContent img:hover{
	border:2px solid #999;	
}

